.poems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    width: 90%;
    margin: 0 auto;
}
@media(min-width: 1020px){
    .poems{
        gap: 50px;
    }
}