.about{
    padding: 5px;
    margin: 0 auto;
}
.about__block{
    display: flex;
    align-items: center;
    gap: 25px;
    max-width: 1000px;
    flex-direction: column;
    text-align: center;
}
.photo{
    width: 35%;
    border-radius: 10px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.mobile{
    align-items: center;
}
.link{
    color: #d4a259;
}
.info p{
    letter-spacing: 2px;
    word-spacing: 3px;
}
@media(max-width: 530px) {
    .photo{
        border-radius: 50%;
    }
}