.post{
    padding: 0 0 5px 0;
    display: flex;
    gap: 10px;
    color: rgba(6, 6,15, .6);
}
.post__title{
    font-size: 15px;
    color: #000;
}
.post__container{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    gap: 10px;
}
.post__text{
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 85%;
}
.post__main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 85%;
    padding: 0 0 2px 0;
    border: 1px solid #fff;
    border-bottom: 1px solid #d4a259;
    padding: 5px;
    transition: 0.5s;
}
.post__main:hover{
    border-color: #d4a259;
    background: #d4a3591e;
    transition: 0.5s;
    border-radius: 10px;
}
.post__info{
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    gap: 5px;
    display: flex;
}
.new{
    color: #d4a259;
}
@media(max-width: 992px){
    .post{
        max-width: 992px;
    }
}
@media(max-width: 768px){
    .post__info{
        display: none;
    }
    .post{
        max-width: 768px;
    }
    .post__text{
        max-width: 100%;
    }
}
@media(max-width: 480px){
    .post{
        max-width: 480px;
    }
}