.container{
    height: 100vh;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content{
    max-width: 700px;
}
.code{
    font-size: 150px;
}
.link{
    color: #d4a259 !important;
}
@media(max-width: 1020px){
    .content{
        width: 100%;
        text-align: center;
    }
}