.questions{
    display: flex;
    flex-direction: column;
    height: 95vh;
    padding: 0 20px;
}
.questions__section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 6vh;
}
.section__question{
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    transition: 0.5s;
    width: 200px;
    text-align: center;
    color: #d4a259;
}
.section__question:hover, .active__question{
    transition: 0.5s;
    color: #fff;
    background: #d4a259;
}